{% extends 'base.html' %}
{% block content %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Hearo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function startSpeechToText() {
            $.ajax({
                url: "/mic/apic",
                type: "post",
                success: function (data) {
                    document.getElementById('stt').innerHTML = data;
                    // 재귀 호출로 계속해서 음성 인식을 수행하고 결과를 업데이트합니다.
                    startSpeechToText();
                }
            });
        }

        function stopSpeechToText() {
            // 재귀 호출을 멈추기 위해 아무 작업도 수행하지 않습니다.
        }

        function goToCameraPage() {
            window.location.href = "{% url 'home:camera' %}";
        }

<!--        function redirectToCamera() {-->
<!--            window.location.href = "{% url 'home:camera' %}";-->
<!--        }-->

<!--        // "끝입니다"가 감지되면 페이지 이동 함수 호출-->
<!--        if (document.getElementById('stt').textContent.includes('끝입니다')) {-->
<!--            redirectToCamera();-->
<!--        }-->
    </script>
    <style>
        .image-container {
            position: absolute;
            top: 50px;
            right: 10px;
        }

        .image-container img {
            max-width: 100px;
            height: auto;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center align-items-start vh-100">
            <div class="col-md-8 text-center">
            <br><br>
            <p class="fs-5">의료 기관의 음성 인식을 시작하겠습니다.</p>
            <p class="fs-5">아래의 "음성 인식 시작" 버튼을 눌러주세요.</p>
            <button href="javascript:void(0);" class="btn btn-primary" onclick="startSpeechToText();" style="font-size: 20px;">음성 인식 시작</button>
            <br><br><br>
            <p class="fs-4">음성 인식 결과</p>
            </div>
        </div>
    </div>

    <div id="stt"></div>

    <div class="row justify-content-center" style="margin-top: -200px;">
        <div class="col-md-5 text-center">
            <button class="btn btn-primary" onclick="redirectToCamera()" style="font-size: 20px;">다시 수어 버튼</button>
        </div>
    </div>

<!--    <div class="image-container">-->
<!--        <div style="text-align: center;">-->
<!--            <img src="/static/photography.png" alt="Photography" onclick="goToCameraPage();">-->
<!--        </div>-->
<!--        <p style="text-align: center;">카메라 전환을 원하시면 위의 아이콘을 클릭해주세요</p>-->
<!--    </div>-->

<script>
function redirectToCamera() {
  window.location.href = '/camera/camera';
}
</script>
</body>
</html>
{% endblock %}